{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильмы</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    {% include 'header.html' %}
     
    <form action="{% url 'search' %}" method="GET">
        <input type="text" type="search" name="s">
        <button type="submit">Поиск</button>
    </form>

    <h1>Все фильмы</h1>
    <ul>
        {% for i in film %}
        <li>
            <img src="{{ i.image.url }}" alt="{{ i.title }}">
            <h2>{{ i.title }}</h2>
            <time datetime="">{{ i.created_at }}</time>
            <a href="/film_list/{{ i.id }}/">Подробнее</a>
        </li>
        {% endfor %}
    </ul>




  {% include 'footer.html' %}
</body>
</html>
