{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильмы</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    {% include 'header.html' %}
     
    <form action="{% url 'search' %}" method="GET">
        <input type="text" type="search" name="s">
        <button type="submit">Поиск</button>
    </form>

    <h1>Все фильмы</h1>
    <ul>
        {% for i in film %}
        <li>
            <img src="{{ i.image.url }}" alt="{{ i.title }}">
            <h2>{{ i.title }}</h2>
            <time datetime="">{{ i.created_at }}</time>
            <a href="/film_list/{{ i.id }}/">Подробнее</a>
        </li>
        {% endfor %}
    </ul>

    <!-- Пагинация -->

    <!-- <div>
        {% if film.has_previous %}
        <a href="?page=1">Первая</a>
        <a href="?page={{ film.previos_page_number }}">Предыдущая</a>
        {% endif %}
    
    <span>Страница  {{ film.number }} из   {{ film.paginator.num_pages }}</span>

      {% if film.has_next %}
        <a href="?page={{ film.next_page_number }}">Следующая</a>
        <a href="?page={{ film.paginator.num_pages }}">Последняя</a>
        {% endif %}
    </div> -->

    <!-- Пагинация  -->

  {% include 'footer.html' %}
</body>
</html>
