{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подробнее о фильме - {{ film_id.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
</head>
<body>
    {% include 'header.html' %}
    <h1>Подробнее об фильме - {{ film_id.title }}</h1>
    <img src="{{ film_id.image.url }}" alt="" width="450" height="400">
    <p>Описание: {{ film_id.description }}</p>
    <p>Режисёр: {{ film_id.director }}</p>
    <p>Жанр: {{ film_id.genre }}</p>
    <p>Страна: {{ film_id.country }}</p>
    <p>Продолжительность: {{ film_id.duration }} мин</p>
    <button><a target="_blank" href="{{ film_id.trailer }}">Смотреть трейлер</a></button>
    <hr>
    <h2>Отзывы</h2>
    <h3>Общая оценка - "вставить значение переменной тут"</h3>
    <ol>
        <!-- Вставить цикл тут -->
         {% for i in film_id.reviews.all  %}
        <li>
            <h2>Имя - {{ i.name_user }}</h2>
            <p>Оценка - {{ i.mark }}</p>
            <p>Комментарий - {{ i.comments }}</p>
        </li>
        {%  endfor  %}
        <!-- Закрыть цикл тут -->
    </ol>

    {% include 'footer.html' %}
</body>
</html>
